//============================
//		{ SHORTHAND STYLUS }
//============================
@import '../setting/shorthand'

//============================
//    	Name: FIREFOX
//============================

.advantage-extend__box {
	+media(1000) {
		grid: auto \/ repeat(auto-fit, minmax(auto, 270px));
	}
}
.iform__box {
	max-width: 667px;
}
.iform__group {
	grid: auto-flow \/ auto 1fr;		
}
.iform__textarea {
	grid-column: 1/3;
}
 
.iform__textarea {
	min-height 10rem;
}
.iform__button {
	+media(425) {
		grid-column: 1/3;
	}
}
 