
/* ==== BLOCK-CLASS-STRUCTURE ==== */
__() {
	+prefix-classes('&'+ '__') {
		{block}
	}
}

gap(n) {
	grid-gap: n;
}

cursor(n) {
	if n == pointer {
		{block}
		cursor: n;
		user-select: none;
	}
}

text-overflow(n) {
	if n == ellipsis {
		{block}
		text-overflow: n;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
	}
}

radius(n) {
	border-radius: n n n n;
}

glyph(n) {
	@extend {n}
}

media(n) {
	@media (max-width: n + .98px) {
		{block}
	}
}
min-media(n) {
	@media (min-width: n + .98px) {
		{block}
	}
}

key(n) {
	@keyframes {n} {
		{block}
	}
}

font-setup(a, b, c) {
	font-family: a;
	font-size: b px;
	font-weight: c;
}
/* ==== ---- ==== */
