//============================
//    Name: Main page
//============================

$$btn-color = tomato;

button {
	background-color #ccc;
	border 1rem solid #000
}

startpage {
	+__() {
		.section--background {
			background-color #ccc;
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			max-width 1200px
			margin auto
			justify-content: center;
			align-items: center;
			padding 3rem 0
		}
		.item {
			display: grid;
			align-items: center;
			justify-content: center;
		}
		.href {
			xsize = 9px
			padding xsize (xsize * 3)
			background-color $$btn-color
			color: #fff;
			text-decoration none
			text-transform uppercase
			font-weight bold
			display: grid;
			justify-content: center;
			align-items: center;
			border 2px solid $$null
			radius: .5rem;
			margin 2rem 1rem 
			transition .25s __cubic
			&:hover {
				radius: .8rem;
				background-color lighten($$btn-color, 12%);
				font-weight bold
				border 2px solid $$btn-color
			}
			&:active {
				background-color darken($$btn-color, xsize)
				color: #fff;
				transform scale(.97)
			}
		}
	}
}